doctype html
html(lang='en')
  head 
    title #{ title }
    link(rel='stylesheet', href='build/styles.css')
    script(src='htmx.min.js')
    script(src='unpkg.com_htmx.org@1.9.4_dist_ext_sse.js')
  body(class="flex flex-col h-[100vh]")
    include layout/header.pug
    include components/formupload.pug
    include layout/footer.pug