<div class="border-gray-200 border-4 rounded">
    <form id="form" hx-encoding="multipart/form-data" hx-post="/api/v1/gemini/image" hx-target="#results"
        hx-swap="innerHTML show:#results:top swap:0.15s" hx-indicator="#spinner">
        <div class="form-div">
            <div class="flex-1">
                <ol>
                    <li>Upload an image (less than 1mb).</li>
                    <li>Click upload.</li>
                    <li>View the generated result.</li>
                </ol>
            </div>
        </div>
        <div class="form-div">
            <div class="flex-1">
                <input id="imageInput" type="file" name="image" />
            </div>
        </div>
        <div class="form-div">
            <div class="flex-1">
                <button
                    class="bg-indigo-600 text-white py-1 px-2 rounded-md transition-colors hover:bg-blue-100 shadow-md"
                    type="submit">
                    Upload
                </button>
            </div>
        </div>
        <div class="form-div ">
            <div class="flex-1">
                <img id="preview" src="preview.webp" alt="Uploaded Preview" class="inline-block w-[50%]" />
            </div>
        </div>
        <div class="form-div ">
            <div class="flex-1">
                <div id="spinner" class="htmx-indicator">
                    <img src="icons8-spinner.gif" class="inline-block w-[10%]" />
                </div>
            </div>
        </div>
    </form>
    <div id="results"></div>
    <!-- <div id="results" hx-trigger="load" hx-target="this" hx-get="/api/v1/gemini/test" hx-swap="innerHTML"></div> -->
</div>

<script src="fileupload.js"></script>