div(class="flex-grow px-10 py-10")
      form(hx-encoding='multipart/form-data' 
      hx-post='/api/v1/image' 
      _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100')
        div(class="form-div")
          div(class="flex-1")
            input(type='file' name='image')
        div(class="form-div")
          div(class="flex-1")
            button(class="bg-indigo-600 text-white py-1 px-2 rounded-md transition-colors hover:bg-blue-100 shadow-md") Upload
        div(class="form-div")
          div(class="flex-1")
            progress(id='progress' value='0' max='100')