div(class="flex flex-col items-center w-full")
  div(class="space-y-4 w-[50%]")
    div(class="flex-1 space-y-4")
      p(class="text-2xl text-center")= item_title
      p(class="text-md")= description
    hr
    div(class='flex-1')
      each specObj, specType in specifications 
        p: b= specType  
        div: each v,k in specObj
          p: em= k + ": " + v
    hr
    div(class='flex-1')
      div
      p: b Common FAQs
      div
        ul(class="flex flex-col space-y-3")
          each answer, questions in common_faqs
            li: #{ questions }: em= answer
    hr
    div(class='flex-1')
      div
        p: b Compability
      div
        ul(class="flex flex-col space-y-3")
          each value, key in compatibility
            li: #{ key }: em= value
    hr
    div(class='flex-1')
      div
      p: b Use Cases
      div
        ul(class="flex flex-col space-y-3")
          each useCase in potential_use_cases
            li: em= useCase 
    hr
    div(class='flex-1')
      p: b Safety related message
      div: p= safety_and_compliance
    hr
    div(class='flex-1')
      div(class="flex flex-wrap")
        each seoKeyword in seo_keywords 
          div(class="bg-secondary border-text p-1 m-1 rounded text-white")=  seoKeyword
